<!DOCTYPE html>
<html>
  <head>
    <title>DOM-To-Canvas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>DOM-To-Canvas</h1>
    <form id="fetchUrl" class="menu">
      <input id="url" class="menu_input" type="text" />
      <input class="menu_submit" type="submit" />
    </form>
    <canvas id="dom-to-canvas" class="renderTarget"></canvas>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
