<!DOCTYPE html>
<html>
  <head>
    <title>DOM-To-Canvas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>DOM-To-Canvas</h1>
    <form id="fetchUrl" class="menu">
      <input id="url" class="menu_input" type="text" placeholder="ie: http://www.google.com" />
      <input class="menu_submit" type="submit" />
    </form>
    <canvas id="dom-to-canvas" class="renderTarget" width="800" height="500"></canvas>
    <script src="/javascripts/drawDOM.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
