* {
  box-sizing: border-box;
}

html {
  background: #f5f5f5;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.menu {
  padding: 1rem 0;
  position: relative;
}

.menu.loading,
.menu.loading .menu_input,
.menu.loading .menu_submit {
  opacity: 0.8;
  cursor: wait;
}

.menu_input {
  height: 2rem;
  padding: 0 0.5rem;
  width: 100%;
}

.menu_submit {

  background: #2F73D8;
  border: none;
  color: #fff;
  cursor: pointer;

  height: 2rem;
  min-width: 10rem;
  padding: 0.5rem;

  position: absolute;
  right: 0;
  top: 1rem;
}

.myCanvas {
  background: #fff;
  border: 1px solid #ccc;
  display: block;
  margin-bottom: 1rem;
  width: 100%;
}

.about {
  background: #333;
  color: #efefef;
  display: table;
  overflow: hidden;
  padding: 1rem;
}
.about_link {
  color: #efefef;
}

.about_imageWrapper {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.gravatar {
  margin-right: 1rem;
}